<div class="geo-dialog">
  <h2 mat-dialog-title class="geo-dialog-title">Paramètres de géoréférencement</h2>
  <mat-dialog-content>
    <div class="settings-form">
      <div class="settings-group">
        <div class="settings-group-title">Paramètres de transformation</div>
        <mat-form-field appearance="outline">
          <mat-label>Type de transformation</mat-label>
          <mat-select [(ngModel)]="settings.transformation_type">
            <mat-option *ngFor="let type of transformationTypes" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Système de coordonnées cible</mat-label>
          <mat-select [(ngModel)]="settings.srid">
            <mat-option *ngFor="let option of sridOptions" [value]="option.value">
              {{ option.value }}
              <span class="option-description" *ngIf="option.viewValue">
                {{ option.viewValue }}
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="settings-group">
        <div class="settings-group-title">Paramètres en sortie</div>
        <mat-form-field appearance="outline">
          <mat-label>Méthode de ré-échantillonnage</mat-label>
          <mat-select [(ngModel)]="settings.resampling_method">
            <mat-option *ngFor="let method of resamplingMethods" [value]="method">
              {{ method }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Type de compression</mat-label>
          <mat-select [(ngModel)]="settings.compression">
            <mat-option *ngFor="let comp of compressionTypes" [value]="comp">
              {{ comp }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button class="cancel-button" (click)="onCancel()">Annuler</button>
    <button mat-button color="primary" class="save-button" (click)="onSave()">Enregistrer</button>
  </mat-dialog-actions>
</div>