.image-map-container {
    overflow-x: hidden;
    position: relative;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 50vh;
    top: 0;
    border: 1px solid #ddd;
    background-color: #f6f6f6;
    transition: ease-in-out 0.2s
}

.image-map-container.extended {
    height: calc(50vh + 34vh);
    transition: ease-in-out 0.2s;

    @media (min-width: 1601px) {
        height: calc(50vh + 40vh);
    }
}

.image-map-container.adding-gcp {
    /* Curseur en croix pour indiquer qu'on est en mode ajout */
    cursor: crosshair;
}

.zoom-controls {
    position: absolute;
    top: 62px;
    right: 1%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    z-index: 1000;
}

.zoom-controls button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    cursor: pointer;
    border-radius: 22%;
    background: linear-gradient(45deg, #FF6A00, #ffad49); /* Dégradé proche du logo Orange */
    color: #ffffff;
}

mat-icon {
    display: flex;
    top: 18%;
    justify-content: center;
    justify-content: center;
    font-size: 12px;
    width: 22px;
    height: 22px;
}