<div class="zoom-controls">
    <button mat-mini-fab color="primary" (click)="zoomIn()">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-mini-fab color="accent" (click)="zoomOut()">
        <mat-icon>remove</mat-icon>
    </button>
    <button mat-mini-fab matTooltip="Aller vers l'image" id="reset" color="warn" (click)="resetView()">
        <mat-icon>crop</mat-icon> <!-- Icône de réinitialisation -->
    </button>
</div>

<div #imageContainer id="image-map" class="image-map-container" 
    [ngClass]="{'adding-gcp': isAddingGCP}" 
    (click)="onImageClick()"
    (keydown)="onImageKeydown($event)"
    [@toggleContent]="isGeorefActive ? 'open' : 'closed'"
    tabindex="0">
</div>