.image-map-container {
    overflow-x: hidden;
    position: relative;
    justify-self: center;
    align-self: center;
    width: 97%;
    height: 50%;
    top: 8%;
    border: 1px solid #ddd;
}

// #image-map .ol-control {
//     position: absolute;
//     top: 1em;
//     right: 1em;
//     display: flex;
//     flex-direction: column;
// }

// #image-map .ol-zoom {
//     position: static;
//     margin-bottom: 5px;
//     display: block;
// }
  