.image-map-container {
    overflow-x: hidden;
    position: relative;
    justify-self: center;
    align-self: center;
    width: 100%;
    min-height: 40%;
    height: 50%;
    max-height: 70%;
    top: 0;
    border: 1px solid #ddd;
    background-color: #f6f6f6;
}

.image-map-container.adding-gcp {
    /* Curseur en croix pour indiquer qu'on est en mode ajout */
    cursor: crosshair;
}

.resize-handle {
    position: relative;
    bottom: 0;
    height: 8px;
    width: 100%;
    cursor: ns-resize;
    background-color: #f5f5f5;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;

    &:hover {
        background-color: rgba(0, 0, 0, 0.15);
    }

    &::after {
        content: "";
        height: 2px;
        width: 20px;
        background-color: #b7b7b7;
        margin: 1px;
    }

    &.hidden {
        display: none;
    }
}

.zoom-controls {
    position: absolute;
    top: 11%;
    right: 1%;
    display: flex;
    flex-direction: column;
    gap: 4px; /* Espace entre les boutons */
    z-index: 1000;
}

.zoom-controls button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    cursor: pointer;
    border-radius: 22%;
    background: linear-gradient(45deg, #FF6A00, #ffad49); /* Dégradé proche du logo Orange */
    color: #ffffff;
}

mat-icon {
    display: flex;
    top: 16%;
    justify-content: center;
    justify-content: center;
    font-size: 14px;
}