<div #georefContainer class="georef-container"
    [@toggleContent]="{value: isGeorefActive ? 'open' : 'closed', params: getAnimationParams()}">
    <!-- Barre de redimensionnement à gauche -->
    <div class="resize-handle" (mousedown)="startResize($event)" (touchstart)="startResize($event)"
        [class.hidden]="!isGeorefActive"></div>

    @if (isProcessing) {
    <div class="progress-content">
        <!-- Progress bar et texte -->
        <mat-progress-bar mode="query" color="primary"></mat-progress-bar>
        <p class="progress-text">Géoréférencement en cours ...</p>
    </div>
    } @else {
    @if (isLoading) {
    <div class="loading-container">
        <mat-spinner class="spinner" diameter="50"></mat-spinner>
        <p>Chargement de l'image...</p>
    </div>
    } @else if (!isImageLoaded) {
    <app-upload></app-upload>
    } @else {
    <app-toolbar></app-toolbar>
    <app-image></app-image>
    <app-gcp></app-gcp>
    <div class="georef-info-container" [class.hidden]="!isGeorefActive">
        <!-- Paramètres de géoréférencement en ligne -->
        <div class="georef-parameters">
            {{ georefSettings.transformationType }}
        </div>
        <div class="georef-parameters">
            EPSG:{{ georefSettings.srid }}
        </div>
        <div class="georef-parameters">
            Ré-échantillonnage: {{ georefSettings.resamplingMethod }}
        </div>
        <div class="georef-parameters">
            Compression: {{ georefSettings.compressionType }}
        </div>

        <!-- Coordonnées du curseur -->
        <div class="cursor-coordinates">
            X: {{ cursorX | number:'1.4-4' }} px | Y: {{ cursorY | number:'1.4-4' }} px
        </div>
    </div>
    }
    }
</div>