.georef-container {
    position: absolute;
    border-radius: 20px 0 0 20px;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
}