.georef-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    opacity: 0.97;
    overflow: hidden;
}

.vertical-resize-handle {
    position: relative;
    width: 100%;
    height: 8px;
    cursor: ns-resize;
    background-color: #f5f5f5;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-resize-handle:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.vertical-resize-handle::after {
    content: "";
    height: 2px;
    width: 20px;
    background-color: #b7b7b7;
    margin: 1px;
}

.vertical-resize-handle.hidden {
    display: none;
}

.georef-info-container {
    overflow: hidden;
    position: absolute;
    bottom: 1px;
    left: 2px;
    right: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    font-size: 10px;
    transition: visibility 0.1s ease-in-out;
}

.georef-info-container.hidden {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s ease-in-out;
}

/* Coordonnées du curseur */
.cursor-coordinates {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 4px 4px;
    border-radius: 5px;
}

/* Paramètres affichés sous forme de ligne */
.georef-parameters {
    overflow: hidden;
    font-size: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 4px 4px;
    border-radius: 5px;
    transition: opacity 0.3s;

    &.hidden-params {
        opacity: 0;
        visibility: hidden;
        height: 0;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    @media (max-width: 700px) {
        display: none;
    }
}

.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.spinner {
    margin-bottom: 10px;
}

.progress-content {
    position: relative;
    top: 50%;
    left: 18%;
    width: 70%;
}

.progress-text {
    align-self: center;
    justify-self: center;
    margin-top: 18px;
    font-size: 16px;
}

.resize-handle {
    position: absolute;
    left: 0;
    top: 0;
    width: 8px;
    height: 100%;
    cursor: ew-resize;
    background-color: transparent;
    z-index: 2001;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: rgba(0, 0, 0, 0.15);
    }

    &::after {
        content: "";
        height: 20px;
        width: 2px;
        background-color: #b7b7b7;
        margin: 1px;
    }

    &.hidden {
        display: none;
    }
}

/* Style pour mettre en évidence que le redimensionnement est en cours */
:host-context(body.resizing) .georef-container {
    transition: none;
    /* Désactiver la transition pendant le redimensionnement */
}