<div class="layer-details-container">
    <h2 mat-dialog-title>Détails de l'image géoréférencée</h2>

    <div mat-dialog-content class="layer-details-content">
        <div class="info-section">
            <h3 class="section-title">Informations sur l'image</h3>
            <div class="info-item">
                <span class="info-label">Nom du fichier :</span>
                <span class="info-value">{{ geoImage.filepathOriginal }}</span>
            </div>
            <div class="info-item">
                <span class="info-label">Date d'importation :</span>
                <span class="info-value">{{ formatDate(geoImage.uploadingDate) }}</span>
            </div>
        </div>
        
        <div class="info-section">
            <h3 class="section-title">Détails de géoréférencement</h3>
            <div class="info-item">
                <span class="info-label">Type de transformation :</span>
                <span class="info-value">{{ geoImage.transformationType }}</span>
            </div>
            <div class="info-item">
                <span class="info-label">Système de coordonnées cible :</span>
                <span class="info-value">EPSG:{{ geoImage.srid }}</span>
            </div>
            <div class="info-item">
                <span class="info-label">Méthode de rééchantillonnage :</span>
                <span class="info-value">{{ geoImage.resamplingMethod }}</span>
            </div>
            <div class="info-item">
                <span class="info-label">Type de compression :</span>
                <span class="info-value">{{ geoImage.compression }}</span>
            </div>
            <div class="info-item">
                <span class="info-label">Fichier de sortie :</span>
                <span class="info-value">{{ geoImage.outputFilename }}</span>
            </div>
            <div class="info-item">
                <span class="info-label">Date du dernier géoréférencement :</span>
                <span class="info-value">{{ formatDate(geoImage.lastGeoreferencingDate!) }}</span>
            </div>
            @if (geoImage.meanResidual !== undefined) {
                <div class="info-item">
                    <span class="info-label">Résidue totale :</span>
                    <span class="info-value">{{ geoImage.meanResidual.toFixed(4) }}</span>
                </div>
            }
        </div>
    </div>

    <div mat-dialog-actions align="end">
        <button mat-button id="close-button" color="primary" mat-dialog-close (click)="close()">Fermer</button>
    </div>
</div>