<h2 mat-dialog-title class="dialog-title">Ajouter un GCP sur la carte</h2>

<mat-dialog-content class="dialog-content">
    <div class="manual-input">
        <mat-form-field appearance="outline">
            <mat-label>X</mat-label>
            <input matInput type="number" [(ngModel)]="mapX">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Y</mat-label>
            <input matInput type="number" [(ngModel)]="mapY">
        </mat-form-field>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end" class="dialog-actions">
    <button mat-button (click)="onCancel()" class="cancel-button">Annuler</button>
    <button mat-button (click)="startMapSelection()" class="map-selection-button">Choisir depuis la carte</button>
    <button mat-button color="primary" class="confirm-button" (click)="onConfirm()">Confirmer</button>
</mat-dialog-actions>