.dialog-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}

.mat-dialog-container {
  border-radius: 0px !important;
}

.dialog-content {
  border-radius: 0px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.manual-input {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

mat-form-field input {
  height: 16px;
  font-size: 14px;
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: small;
}

.cancel-button {
  color: #696969 !important;
  background-color: #f1f1f1 !important;
}

.cancel-button:hover {
  background-color: #d7d7d7 !important;
}

.map-selection-button {
  color: rgb(238, 116, 34) !important;
  background-color: rgb(247, 237, 228) !important;
}

.map-selection-button:hover {
  background-color: rgb(245, 224, 206) !important;
}

.confirm-button {
  background-color: #e7f0ff !important;
}