.dialog-title {
  transform: scale(0.9);
  color: #175a9c;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  font-weight: 500;
  margin-bottom: 12px;
  font-size: 18px;
}

.mat-dialog-container {
  border-radius: 0px !important;
}

.dialog-content {
  border-radius: 0px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.manual-input {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

mat-form-field input {
  height: 22px;
  font-size: 14px;
}

mat-form-field {
  --mat-form-field-container-height: 2.4rem;
  --mat-form-field-container-vertical-padding: 0.6rem;
  font-size: 12px;
}

mat-select, mat-label, mat-option {
  font-size: 12px;
}

mat-error {
  position: absolute;
  left: 0;
  font-size: 9px;
}

.dialog-actions {
  transform: scale(0.9);
  border-top: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.cancel-button {
  color: #696969 !important;
  font-size: 14px;
}

.cancel-button:hover {
  background-color: #ececec !important;
}

.map-selection-button {
  color: rgb(223, 107, 30) !important;
  font-size: 14px;
}

.map-selection-button:hover {
  background-color: rgb(250, 236, 224) !important;
}

.confirm-button {
  color: #175a9c !important;
  font-size: 14px;
}

.confirm-button:disabled {
  color: #c0c0c0 !important;
  background-color: #ececec !important;
}