@if (loadingGCPs) {
<div class="loading-container">
    <mat-spinner class="spinner" diameter="35"></mat-spinner>
    <p>Chargement des GCPs ...</p>
</div>
} @else {
<div #tableContainer class="table-container">

    <div class="drag-handle" (mousedown)="canStartDrag($event) && startDrag($event)"
        (touchstart)="canStartDrag($event) && startDrag($event)" (dblclick)="onDoubleClick()">
        <mat-icon>drag_indicator</mat-icon>
        <span class="handle-label">Table des points de contrôle</span>
        <button *ngIf="isFloating" mat-icon-button class="reset-button"
            (click)="resetPosition(); $event.stopPropagation()" matTooltip="Réinitialiser la position">
            <mat-icon>branding_watermark</mat-icon>
        </button>
    </div>

    <table mat-table matSort (matSortChange)="announceSortChange($event)" 
                bgColor="primary" [dataSource]="dataSource" 
                [trackBy]="trackByFn" class="mat-elevation-z8">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()" [disabled]="!dataSource.data.length"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="toggleRow(row)"
                    [checked]="selection.selected.includes(row.id)">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Index Column -->
        <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef
                mat-sort-header sortActionDescription="Sort by number">ID</th>
            <td mat-cell *matCellDef="let gcp">
                <span
                    [ngStyle]="{'color': getTextColor(gcp.index), 'background-color': getFillColor(gcp.index), 'padding': '3px 6px', 'border-radius': '50%'}">
                    {{ gcp.index }}
                </span>
            </td>
        </ng-container>


        <!-- Source X Column -->
        <ng-container matColumnDef="sourceX">
            <th mat-header-cell *matHeaderCellDef
                mat-sort-header sortActionDescription="Sort by number">Source X</th>
            <td mat-cell *matCellDef="let gcp" (dblclick)="onCellDoubleClick(gcp, 'sourceX')">
                <ng-container *ngIf="editingGcpIndex !== gcp.index; else editMode">
                    {{ gcp.sourceX | number:'1.4-4' }}
                </ng-container>
                <ng-template #editMode>
                    <input id="edit-sourceX" class="edit-field" [formControl]="sourceXControl" type="number"
                        step="0.0001" (keydown)="handleKeyDown($event)">
                </ng-template>
            </td>
        </ng-container>

        <!-- Source Y Column -->
        <ng-container matColumnDef="sourceY">
            <th mat-header-cell *matHeaderCellDef
                mat-sort-header sortActionDescription="Sort by number">Source Y</th>
            <td mat-cell *matCellDef="let gcp" (dblclick)="onCellDoubleClick(gcp, 'sourceY')">
                <ng-container *ngIf="editingGcpIndex !== gcp.index; else editSourceY">
                    {{ gcp.sourceY | number:'1.4-4' }}
                </ng-container>
                <ng-template #editSourceY>
                    <input id="edit-sourceY" class="edit-field" [formControl]="sourceYControl" type="number"
                        step="0.0001" (keydown)="handleKeyDown($event)">
                </ng-template>
            </td>
        </ng-container>

        <!-- Map X Column -->
        <ng-container matColumnDef="mapX">
            <th mat-header-cell *matHeaderCellDef
                mat-sort-header sortActionDescription="Sort by number">Destination X</th>
            <td mat-cell *matCellDef="let gcp" (dblclick)="onCellDoubleClick(gcp, 'mapX')">
                <ng-container *ngIf="editingGcpIndex !== gcp.index; else editMapX">
                    {{ gcp.mapX | number:'1.4-4' }}
                </ng-container>
                <ng-template #editMapX>
                    <input id="edit-mapX" class="edit-field" [formControl]="mapXControl" type="number" step="0.0001"
                        (keydown)="handleKeyDown($event)">
                </ng-template>
            </td>
        </ng-container>

        <!-- Map Y Column -->
        <ng-container matColumnDef="mapY">
            <th mat-header-cell *matHeaderCellDef
                mat-sort-header sortActionDescription="Sort by number">Destination Y</th>
            <td mat-cell *matCellDef="let gcp" (dblclick)="onCellDoubleClick(gcp, 'mapY')">
                <ng-container *ngIf="editingGcpIndex !== gcp.index; else editMapY">
                    {{ gcp.mapY | number:'1.4-4' }}
                </ng-container>
                <ng-template #editMapY>
                    <input id="edit-mapY" class="edit-field" [formControl]="mapYControl" type="number" step="0.0001"
                        (keydown)="handleKeyDown($event)">
                </ng-template>
            </td>
        </ng-container>

        <!-- Residual Column -->
        <ng-container matColumnDef="residual">
            <th mat-header-cell *matHeaderCellDef
                mat-sort-header sortActionDescription="Sort by number">Résidu</th>
            <td mat-cell *matCellDef="let gcp"> {{ gcp.residual | number:'1.4-4' }} </td>
        </ng-container>

        <!-- Edit Column -->
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Modifier</th>
            <td mat-cell *matCellDef="let gcp">
                <ng-container *ngIf="editingGcpIndex !== gcp.index; else editButtons">
                    <button mat-icon-button color="primary" (click)="editGcp(gcp)" matTooltip="Modifier">
                        <mat-icon>edit</mat-icon>
                    </button>
                </ng-container>
                <ng-template #editButtons>
                    <div class="edit-buttons">
                        <button mat-icon-button color="primary" (click)="saveEdit()" matTooltip="Enregistrer">
                            <mat-icon>check</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="cancelEdit()" matTooltip="Annuler">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                </ng-template>
            </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Supprimer</th>
            <td mat-cell *matCellDef="let gcp">
                <button mat-icon-button color="warn" (click)="openDeleteConfirmDialog(gcp)" matTooltip="Supprimer">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- Table Headers & Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        @if (!dataSource.data.length) {
        <!-- Message quand la table est vide -->
        <tr class="empty-row" *matNoDataRow>
            <td class="empty-cell" [attr.colspan]="displayedColumns.length">
                <div class="empty-message">
                    <mat-icon>info</mat-icon>
                    <span>Aucun point de contrôle défini</span>
                </div>
            </td>
        </tr>
        }
    </table>
    <div *ngIf="isFloating" class="resize-handle resize-handle-right" (mousedown)="startResize($event, 'right')"
        (touchstart)="startResize($event, 'right')"></div>
    <div *ngIf="isFloating" class="resize-handle resize-handle-bottom" (mousedown)="startResize($event, 'bottom')"
        (touchstart)="startResize($event, 'bottom')"></div>
    <div *ngIf="isFloating" class="resize-handle resize-handle-both" (mousedown)="startResize($event, 'both')"
        (touchstart)="startResize($event, 'both')"></div>
</div>

<div *ngIf="isFloating" class="anchor-zone" #anchorZone></div>
}