.table-container {
    position: relative;
    max-height: 64%;
    height: 34%;
    min-height: 34%;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ddd;
    width: 100%;
    justify-self: center;
    align-self: center;
}

table {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 36%;
    min-width: 97%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
}

th {
    overflow-y: auto;
    overflow-x: hidden;
    background: #f5f5f5;
    color: #333;
    font-weight: bold;
    font-size: x-small;
    padding: 1px;
    text-align: center;
}

mat-checkbox {
    transform: scale(0.7);
}

tr {
    overflow-x: hidden;
    height: 26px;
    font-size: x-small;
    text-align: center;
    background-color: #f3f3f3;
}

td {
    overflow-x: hidden;
    padding: 1px;
    text-align: center;
    font-size: x-small;
}

button {
    font-size: large;
}

mat-icon {
    font-size: medium;
}

/* Boutons d'édition */
.edit-buttons {
    display: flex;
    gap: 4px;
    justify-content: center;
}

/* Réduction de la taille des boutons */
.edit-buttons button {
    width: 24px;
    height: 24px;
    min-width: 18px;
    padding: 0;
    padding-top: 2px;
}

.edit-field {
    width: 79px; /* Même largeur que l’ancien mat-form-field */
    height: 20px; /* Ajustement de la hauteur */
    padding: 1px 0px; /* Réduction du padding */
    font-size: x-small;
    border: 1px solid #ccc; /* Ajoute une bordure pour garder la structure */
    border-radius: 4px; /* Coins arrondis */
    text-align: center;
    background-color: #fff; /* Fond blanc pour rester homogène */
}

/* Effet hover et focus pour donner un look interactif */
.edit-field:hover, .edit-field:focus {
    border-color: #2e84da; /* Couleur Material Design */
    outline: none;
}

/* Effet hover pour mieux visualiser l'édition */
tr:hover td {
    background-color: rgba(0, 0, 0, 0.03);
}

