.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: 10%;
    overflow: hidden;
    background-color: #f3f3f3;
}

.toolbar-section {
    display: flex;
}

#georef-button {
    overflow: hidden;
    background: linear-gradient(45deg, #FF6A00, #ffad49); /* Dégradé proche du logo Orange */
    color: white;
    margin-left: 10px;
    margin-top: 2px;
    height: 34px;
    font-size: small;
    border: none;
    border-radius: 50px;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#georef-button:hover {
    background: linear-gradient(45deg, #ffad49, #FF6A00); /* Inversion du dégradé au hover */
    box-shadow: 0px 4px 10px rgba(255, 138, 0, 0.6);
}

#close-button {
    display: flex;
    flex-direction: row;
    justify-self: start;
    margin-right: 94px;
}

#georef-icon {
    overflow: hidden;
    margin-top: 8px;
    margin-right: 4px;
}

button {
    overflow: hidden;
    font-size: large;
}

mat-icon {
    overflow: hidden;
    font-size: larger;
}

mat-divider {
    height: 32px; /* Hauteur verticale */
    width: 1px; /* Épaisseur de la ligne */
    margin: 0 12px; /* Espacement horizontal */
    border-radius: 4px; /* Arrondir légèrement les bords */
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.15); /* Effet d'ombre latérale */
}
