.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    overflow: hidden;
    background-color: #f3f3f3;
}

#close-button {
    display: flex;
    align-items: center; /* Center vertically */
    margin-right: auto; /* Push other elements to the right */
}

.toolbar-section {
    display: flex;
    align-items: center;
}

/* Optional: Add some spacing between toolbar sections */
.toolbar-section + .toolbar-section {
    margin-left: 10px;
}

#georef-button {
    overflow: hidden;
    background: linear-gradient(45deg, #FF6A00, #ffad49); /* Dégradé proche du logo Orange */
    color: white;
    margin-left: 10px;
    margin-bottom: 3px;
    align-items: center;
    height: 34px;
    font-size: small;
    border: none;
    border-radius: 50px;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#georef-button:hover {
    background: linear-gradient(45deg, #ffad49, #FF6A00); /* Inversion du dégradé au hover */
    box-shadow: 0px 4px 10px rgba(255, 138, 0, 0.6);
}


#georef-icon {
    overflow: hidden;
    margin-top: 8px;
    margin-right: 4px;
}

button {
    overflow: hidden;
    align-self: center;
}

mat-icon {
    align-self: center;
    margin-top: 3.5px;
    overflow: hidden;
    font-size: 17px;
    height: 24px;
    width: 24px;
}

mat-divider {
    height: 32px; /* Hauteur verticale */
    width: 1px; /* Épaisseur de la ligne */
    margin: 0 12px; /* Espacement horizontal */
    border-radius: 4px; /* Arrondir légèrement les bords */
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.15); /* Effet d'ombre latérale */
}
