// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */

html, body { 
  height: 100%; 
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-snackbar {
  background-color: #d32f2f; // Rouge pour les erreurs
  color: white;
}

.success-snackbar {
  background-color: #388e3c; // Vert pour le succès
  color: white;
}

.info-snackbar {
  background-color: #1976d2; // Bleu pour l'information
  color: white;
}
