<div class="layer-table-container" [@slideInOut]="isTableActive ? 'visible' : 'hidden'">
    <h3 mat-dialog-title class="table-title">Table des matières</h3>
    
    <mat-tab-group>
        <mat-tab label="Personnel">
            <mat-list class="layer-list">
                <div mat-subheader id="subheader">
                    <button mat-icon-button (click)="toggleContent()">
                        <mat-icon [fontIcon]="isVisible ? 'expand_more' : 'chevron_right'"></mat-icon>
                    </button>
                    <span> Images Géoréférencées : </span>
                </div>
                @if (isVisible) {
                <mat-list-item *ngFor="let wmsLayer of wmsLayers">
                    <div class="layer-item">
                        <div class="layer-name-actions">
                            <mat-checkbox [checked]="wmsLayer.layer.getVisible()"
                                (change)="toggleLayerVisibility(wmsLayer)">
                            </mat-checkbox>
                            <span class="layer-name">{{ wmsLayer.layerName }}</span>

                            <div class="layer-actions">
                                <!-- 🔍 Zoom sur la couche -->
                                <button mat-icon-button (click)="zoomToLayer(wmsLayer)" matTooltip="Zoom sur la couche">
                                    <mat-icon>aspect_ratio</mat-icon>
                                </button>

                                <!-- ℹ️ Détails -->
                                <button mat-icon-button (click)="showLayerDetails()" matTooltip="Détails de la couche">
                                    <mat-icon>info</mat-icon>
                                </button>

                                <!-- ❌ Supprimer la couche -->
                                <button mat-icon-button (click)="openDeleteConfirmDialog(wmsLayer)" matTooltip="Supprimer">
                                    <mat-icon color="warn">delete</mat-icon>
                                </button>
                            </div>

                        </div>
                        <!-- Slider d'opacité -->
                        <mat-slider class="opacity-slider" min="0" max="1" step="0.1" [discrete]="true">
                            <input matSliderThumb [(ngModel)]="wmsLayer.opacity" (input)="updateOpacity(wmsLayer)">
                        </mat-slider>
                    </div>
                </mat-list-item>
                }
            </mat-list>
        </mat-tab>
        <mat-tab label="Réseau Mobile"></mat-tab>
    </mat-tab-group>
</div>