<mat-card class="import-section" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)">
    <label for="file-upload" class="upload-box" [class.dragging]="isDragging">
        <mat-icon class="upload-icon">cloud_upload</mat-icon>
        <p>Déposez votre image ici ou cliquez pour importer</p>
        <span>Formats acceptés : JPG, PNG, TIFF et TIF</span>
        <span>Taille maximale d'image : 1 Mo</span>
        <input id="file-upload" 
       type="file" 
       accept=".png, .jpg, .jpeg, .tiff .tif" 
       (change)="onFileSelected($event)">
    </label>
</mat-card>