.drawing-tools-panel {
    position: absolute;
    width: fit-content;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 100;
    transition: all 0s ease;

    &.anchored-top-left {
        top: 20px !important;
        left: 80px !important;
        right: auto !important;
        bottom: auto !important;
    }

    &.anchored-top-right {
        top: 20px !important;
        right: 20px !important;
        left: auto !important;
        bottom: auto !important;
    }

    &.anchored-bottom-left {
        bottom: 10px !important;
        left: 70px !important;
        top: auto !important;
        right: auto !important;
    }

    &.anchored-bottom-right {
        bottom: 10px !important;
        right: 10px !important;
        top: auto !important;
        left: auto !important;
    }

    .panel-content {
        padding: 2px;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            transform: scale(0.7);
            margin: 0px;
            text-align: left;
        }

        #drag-handle {
            transform: scale(0.6);
            margin-right: 4px;
            cursor: move;
        }
    }
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0.8;
}

.tools-separator {
    height: 20px;
    width: 1px;
    background-color: #ddd;
    margin: 0 4px;
}

.tool-section {
    display: flex;
    align-items: center;
}

.entity-tools {
    button {
        color: #555;
        
        &:hover {
            color: #0066cc;
        }
    }

    button:disabled {
        color: #c2c2c2;
    }

    .active-tool {
        background-color: rgba(0, 123, 255, 0.2);
        color: #0066cc;
    }
}